.header {
    text-align: center;
}

/* giving the button some room to breathe */

.headBtn {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

body {}

/* making sure the image and the container can hold the look and feel for the user and the questions  */

.testContainer {
    background-image: url("../images/background1.jpg");
    border: 2em black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 100%;
    height: 100vh;
}

.results {
    margin-top: 5em;
    text-align: center;
}

#timeClock {
    margin-top: 10em;
}